* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  --font_col: #fafafa;
  --h2_col: #4cff1f;
  --background_col: #131313;
  --accent_col: #ff22fd;
}

@font-face {
  font-family: Future-West;
  src: url(public/fonts/Future-West.woff2);
  background-color: transparent;
}

body {
  background-color: var(--background_col);
}

h1 {
  font-family: Future-West;
  background: transparent;
}
p,
a {
  color: var(--font_col);
}
