---
import "/src/styles/style.css";
import Knap from "../components/Knap.astro";
import MainLayout from "../layout/MainLayout.astro";
---
<MainLayout>
<h1>ABOUT</h1>


<div class="knappar">
<Knap variant="about" size="desktop">HISTORY</Knap>
<Knap variant="about" size="desktop">SUSTAINABILITY</Knap>
<Knap variant="about" size="desktop">CONTACT</Knap>
</div>

</MainLayout>