---
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Knap from "../components/Knap.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="../src/styles/style.css">
		<!-- font -->
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>

		<h1>Astro</h1>

		<Knap variant="join" size="desktop">JOIN</Knap>
		<Knap variant="about" size="desktop">HISTORY</Knap>
		<Knap variant="about" size="desktop">SUSTAINABILITY</Knap>
		<Knap variant="about" size="desktop">CONTACT</Knap>

		<Card header="ACID PAULI" text="DE">
			<img src="src/img/acid.webp" alt="acid pauli">
		</Card>
</main>
		<footer>
			<Footer>

			</Footer>
		</footer>
	</body>
</html>
