---
import "/src/styles/style.css";

import Knap from "../components/Knap.astro"
import Ticket from "../components/Ticket.astro";

import MainLayout from "../layout/MainLayout.astro";
---



<MainLayout>
<!-- Other tickets
<Ticket variant="full"></Ticket>
<Ticket variant="day"></Ticket>
-->
<article class="hero">
<div class="hero_img"><img src="public/img/heroimg.webp" alt="hero imAGE"></div>
<div class="countdown"><h1>COUNTDOWN</h1></div>
<div class="ticket">
<Ticket header="BUY YOUR TICKET" text="Karrusel" text2="Festival">
	<a href="/#"></a>
</Ticket></div>
</article>

<!--knappar -->
<!-- 
		<Knap variant="join" size="desktop">JOIN</Knap>
		<Knap variant="about" size="desktop">HISTORY</Knap>
		<Knap variant="about" size="desktop">SUSTAINABILITY</Knap>
		<Knap variant="about" size="desktop">CONTACT</Knap>-->
	</MainLayout>

	<style>
article .hero_img{
		position: absolute;
        width: 1440px;
}
.ticket{
        position: relative;
        bottom: 0;
		left: 30%;
    }
	</style>
