---
import "/src/styles/style.css";

import Card from "../components/Card.astro";
import Knap from "../components/Knap.astro"
import Ticket from "../components/Ticket.astro";

import MainLayout from "../layout/MainLayout.astro";
---



<MainLayout>
<!-- Other tickets
<Ticket variant="full"></Ticket>
<Ticket variant="day"></Ticket>
-->
<Ticket header="BUY YOUR TICKET" text="Karrusel" text2="Festival">
	<a href="/#"></a>
</Ticket>
		<Knap variant="join" size="desktop">JOIN</Knap>
		<Knap variant="about" size="desktop">HISTORY</Knap>
		<Knap variant="about" size="desktop">SUSTAINABILITY</Knap>
		<Knap variant="about" size="desktop">CONTACT</Knap>
	</MainLayout>
