---
import "/src/styles/style.css";

import Card from "../components/Card.astro";
import Knap from "../components/Knap.astro"
import Ticket from "../components/Ticket.astro";

import MainLayout from "../layout/MainLayout.astro";
---
<MainLayout>
		<h1>Astro</h1>
		<Ticket variant="full"></Ticket>
		<Ticket variant="day"></Ticket>

		<Ticket variant="home">
			<img src="../img/ticket2.svg" alt="">
		</Ticket>

		<Knap variant="join" size="desktop">JOIN</Knap>
		<Knap variant="about" size="desktop">HISTORY</Knap>
		<Knap variant="about" size="desktop">SUSTAINABILITY</Knap>
		<Knap variant="about" size="desktop">CONTACT</Knap>

		<Card header="ACID PAULI" text="DE">
			<img src="../img/acid.webp" alt="acid pauli">
		</Card>
	</MainLayout>
