---
import "/src/styles/style.css";

import Knap from "../components/Knap.astro"
import Hero from "../components/Hero.astro";

import MainLayout from "../layout/MainLayout.astro";
---



<MainLayout>
<!-- Other tickets
<Ticket variant="full"></Ticket>
<Ticket variant="day"></Ticket>
-->

<div>
	<Hero header="COUNTDOWN" text="08:09:08">
		<img src="public/img/heroimg.webp" alt="hero img">
	</Hero>
</div>

<!--knappar -->
<!-- 
		<Knap variant="join" size="desktop">JOIN</Knap>
		<Knap variant="about" size="desktop">HISTORY</Knap>
		<Knap variant="about" size="desktop">SUSTAINABILITY</Knap>
		<Knap variant="about" size="desktop">CONTACT</Knap>-->
	</MainLayout>

	<style>
article .hero_img{
		position: absolute;
        width: 1440px;
}
.ticket{
        position: relative;
        bottom: 0;
		left: 30%;
    }
	</style>
