---
import "/src/styles/style.css";

import Card from "../components/Card.astro";
import Knap from "../components/Knap.astro"
import Ticket from "../components/Ticket.astro";

import MainLayout from "../layout/MainLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<!-- font -->
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>

		<h1>Astro</h1>
		<Ticket variant="full"></Ticket>
		<Ticket variant="day"></Ticket>
		<Ticket variant="home">BUY YOUR TICKET</Ticket>
		<Knap variant="join" size="desktop">JOIN</Knap>
		<Knap variant="about" size="desktop">HISTORY</Knap>
		<Knap variant="about" size="desktop">SUSTAINABILITY</Knap>
		<Knap variant="about" size="desktop">CONTACT</Knap>

		<Card header="ACID PAULI" text="DE">
			<img src="../img/acid.webp" alt="acid pauli">
		</Card>
</main>
	</body>
</html>
