---
import MainLayout from "../layout/MainLayout.astro";
import Ticket2 from "../components/Ticket2.astro";
---

<MainLayout>
<div class="textur">

<h1>TICKETS</h1>

<h3 class="text">Early bird catches the worm... 
    Buy your ticket now!</h3>
    
<div class="ticket">
    <a href="https://www.ticketmaster.dk/event/542817" target=“_blank>
        <Ticket2 header="KARRUSEL 2024" header2="FULL FESTIVAL PASS" header3="800 DKK" text="Early Bird" text2="Ticket"></Ticket2>
    </a>
</div> 

<h3 class="text2">Day passes will be available for purchase at a later time...</h3>

<div class="daypasses">
<!--day tickets -->
</div>

</div>
</MainLayout>

<style>
h1{
    text-align: center;
    font-size: 5.4rem;
    padding-bottom: 55px;
}
.text{
    text-align: center;
    margin-left: 12em;
    margin-right: 12em;
    font-size: 1.8rem;
    color: var(--font_col);
    padding-bottom: 15vh;
}
.text2{
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.8rem;
    color: var(--font_col);
    padding-top: 70vh;
}
.textur{
    background-image: url("../img/bakgrundclown.svg");
    background-size: cover;
    aspect-ratio: 913/1088;
}


</style>