---

---

<article class="card">
     <img src="src/images/acid-pauli.webp" alt="acid pauli image">
    <div class="name">
     <h3>Acid Pauli <span>De</span></h3>
   </div>
</article>

<style>
img{
    width: 40%;
}
span{
    display: flex;
    flex-direction: row;
    color: blueviolet;
}
</style>

