---
const header = Astro.props.header;
const text = Astro.props.text;
---

<article class="card">
     <img src="src/img/acid.webp" alt="acid pauli image">
    <div class="name">
     <h3>{header}<span>{text}</span></h3>
   </div>
</article>

<style>

.card{
  
    position: relative;
}
span{
    position: absolute;
    top: 0;
    font-size: 0.6em;

}
.name{
    padding: 0.2rem;
    position: absolute;
    left: 0.5rem;
    bottom: 1rem;
    background-color: var(--background_col);
    opacity: 50%;
}
</style>

