<article class="grid_1-3">
  <div>
    <p>HOME</p>
    <p>LINEUP</p>
    <p>FAQ</p>
    <p>CONTACT</p>

    <div class="navigation">
      <p>FOLLOW US</p>
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com/Karruselfestival"
        ><img src="../public/img/facebook.svg" alt="facebook logo" /></a
      >
      <a href="https://www.youtube.com/@karruselcopenhagen557"
        ><img src="../public/img/youtube.svg" alt="youtube logo" /></a
      >
      <a href="https://www.instagram.com/karruselfest/"><img src="../public/img/instagram.svg" alt="instagram logo" /></a>
    </div>
  </div>

  <div>
    <img src="../public/img/clown2.svg" alt="Logo" />
  </div>

  <div>
    <h4>JOIN THE RIDE</h4>
    <p>SUBSCRIBE TO OUR NEWSLETTER</p>

    <div class="input-group">
      <label for="name">Name</label>
      <input />
    </div>

    <div class="input-group">
      <label for="email">E-mail</label>
      <input />
    </div>

    <button class="join">JOIN</button>
  </div>
</article>

<style>
  article {
    background-color: #0e0e0e;
    color: #fafafa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4rem;
  }

  .navigation {
    margin-top: 20px;
  }
  .input-group {
    margin-top: 15px;
    gap: 5px;
    font-family: "Inter", sans-serif;
  }

  button {
    grid-column: 2 / span 2;
    background-color: #ff22fd;
    color: #fafafa;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 1.4rem;
    margin-top: 20px;
  }

  .join {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    border: none;
  }
  .join:hover {
    background-color: #fafafa;
    color: #ff22fd;
  }

  p {
    margin-top: 5px;
    font-family: "Inter", sans-serif;
  }
  h4 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }

  .social-icons {
    display: flex;
    margin-top: 10px;
  }

  .social-icons img {
    width: 50px;
    margin-right: 5px;
  }

  img {
    width: 40%;
  }
</style>
