<article class="grid_1-3">
    <div>
  <p>HOME</p>
  <p>LINEUP</p>
  <p>FAQ</p>
  <p>CONTACT</p>

  <p>FOLLOW US</p>

</div>

<div>
  <img src="" alt="" />
</div>

<div>
  <h4>JOIN THE RIDE</h4>
  <p>SUBSCRIBE TO OUR NEWSLETTER</p>

  <label>Name</label>
  <input />
  <label>E-mail</label>
  <input />

<button>JOIN</button>
</div>
</article>

<style>
  article {
    background-color: #0E0E0E;
    color: #FAFAFA;
  }
  .grid_1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  button {
    background-color: #FF22FD;
    color: #FDFEE2;
    box-shadow: none;
    border-radius: 5px;
  }
  p {
  }
  
</style>
