<article>
  <h5>HOME</h5>
  <h5>LINEUP</h5>
  <h5>FAQ</h5>
  <h5>CONTACT</h5>

  <h6>FOLLOW US</h6>

  <img src="" alt="" />

  <h4>JOIN THE RIDE</h4>
  <h6>SUBSCRIBE TO OUT NEWSLETTER</h6>

  <h5>Name</h5>
    <form></form>
  <h5>E-mail</h5>
</article>
