---
const {variant, size} = Astro.props;
---
<button class={variant + " " + size}>
    <slot />
</button>

<style>
    button{
        /* padding: 0.3rem 1.2rem 0.3rem 1.2rem; */
        border-radius: 10px;
        color: #FAFAFA;
        text-decoration: none;
    }
    .join{
        background-color: var(--accent_col);
        font-family: "Inter", sans-serif;
        font-weight: 700;
        border: none;
    }
    .join:hover{
        background-color:var(--font_col) ;
        color: var(--accent_col);
    }
    
    .desktop{
        width: 135px;
        height: 44px;
        text-align: center;
    }
    .about{
        border-color: var(--h2_col);
        background-color: transparent;
        font-family: "Alfa slab one", sans-serif;
       border-width: 2px;
    }
    .about:hover{
        background-color: var(--h2_col);
        color: var(--background_col);
    }
</style>