---
import Card from "../components/Card.astro";
const { data } = Astro.props;
---
<a href={`lineup/${data.slug}`}>
    <article>
     <Card header={data.name} text={data.country}>
         <img src = `https://uxndprtzubwvqmyzoljl.supabase.co/storage/v1/object/public/lineup/${data.id}.jpeg`;>
     </Card>
    </article>
</a>

<style>
    img {
    /* width: 371px;
    height: 271px; */
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
    }
    img:hover{
        opacity: 50%;
    }
</style>