---
import "/src/styles/style.css";

---

<nav class="navbar">
  <a href="../pages/index.astro"><img src="../public/img/clown1.svg" /></a>

  <div class="name_container">
    <h1 class="name">KARRUSEL</h1>
    <h3 class="date">22-24 AUGUST 2024</h3>
  </div>

  <h2 class="infoOpen">&#9776;</h2>

</nav>
<section aria-label="information tab" class="info hide">
  <h2 class="infoclose">&#10005;</h2>
  <h3 class="infodate">22-24 AUGUST 2024</h3>
  <ul>
    <li><a href="../pages/index.astro">HOME</a></li>
      <li><a href="../pages/listview.astro">LINEUP</a></li>
      <li><a href="../pages/ticket.astro">TICKETS</a></li>
      <li><a href="../pages/about.astro">ABOUT</a></li>
  </ul>
</section>

<script>
  window.addEventListener("load", sidanVisas);
  const infoScreen = document.querySelector(".info");

  function sidanVisas() {
      document.querySelector(".infoOpen").addEventListener("click", startInfo);
  }

  function startInfo() {
      infoScreen.classList.remove("hide");
      document.querySelector(".infoclose").addEventListener("click", hideInfo);
  }

  function hideInfo() {
      infoScreen.classList.add("hide");
  }
</script>

<style>
  .info {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #751f75;
        background-image: url(../../public/img/bakgrundclown.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center 0;
        z-index: 5;
    }

    .info ul {
      margin-top: 3%;
        list-style: none;
        text-align: center;
    }
    a{
      font-family: Future-West;
        color: transparent;
        font-size: 5.4rem;
        -webkit-text-stroke-color: var(--font_col);
        -webkit-text-stroke-width: 1.5px;
        text-decoration: none;
    }
    a:hover{
      color: var(--font_col);
    }
    .infoOpen{
      color: var(--font_col);
    }
  .infoOpen:hover {
      cursor: pointer;
  }

  .infoclose:hover {
      cursor: pointer;
  }

  .infoclose {
      position: fixed;
      z-index: 6;
      color: var(--font_col);
      cursor: pointer;
      padding: 50px 20px 5px 5px;
      right: 0;
  }
.infodate{
  color: transparent;
  -webkit-text-stroke-color: var(--h2_col);
  -webkit-text-stroke-width: 0.3px;
  font-size: 20px;
  letter-spacing: -1px;
  padding: 50px 0 0 20px;
}
  .hide{
    display: none;
  }
.name_container{
  margin-right: auto;
  margin-left: auto;
  }
.name{
  text-align: center;
  font-size: 2em;
  -webkit-text-stroke-color: var(--accent_col);
  }
.date{
  text-align: center;
  color: transparent;
  -webkit-text-stroke-color: var(--h2_col);
  -webkit-text-stroke-width: 0.3px;
  font-size: 15px;
  letter-spacing: -1px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .menu-container {
    position: relative;
    background-color: transparent;
  }

  @media (max-width: 650px){
    a{
      font-size: 3rem;
    }
  }
</style>
