---
import "/src/styles/style.css";
---

<nav>
  
  <a href="../pages/listview.astro">LINEUP</a>
  <a href="#">TICKETS</a>
  <a href="#">NEWSLETTER</a>
  <a href="#">ABOUT</a>
  <a href="#">FAQ</a>
  <a href="#">CONTACT</a>
</nav>
