---
import "/src/styles/style.css";
---

<nav>
    <img src="../"
    <a href="#">LINEUP</a>
    <a href="#">TICKETS</a>
    <a href="#">NEWSLETTER</a>
    <a href="#">ABOUT</a>
    <a href="#">FAQ</a>
    <a href="#">CONTACT</a>
</nav>
