---
const header = Astro.props.header;
const header2 = Astro.props.header2
const text = Astro.props.text;
const text2 = Astro.props.text2;
---
<article class="ticket">
<div class=ticket2>
    <slot /> 
<h3>{header}</h3>
<h3 class="h3_2">{header2}</h3>
<p>{text}</p>
<p class="text2">{text2}</p>
</div>
</article>

<style>
    .ticket2{
        position: absolute;
        width: 280px;
        height: 135px;
        background-image: url(/public/img/ticket.svg);
        background-size: cover;
        aspect-ratio: 476/230;
    }
    .ticket:hover{
        position: absolute;
        width: 280px;
        height: 135px;
        background-image: url(/public/img/ticket3.svg);
        background-size: cover;
        aspect-ratio: 476/230;
    }
    h3, p{
        position: relative;
        font-family: "Alfa slab one", sans-serif;
        color: var(--accent_col);
        letter-spacing: 2px;
        }
        h3{
            top: 23%;
            left: 14%;
            transform: rotate(-10.98deg);
            font-size: 1.4rem;
        }
        .h3_2{
            padding-left: 18px;
        }
        p{
            top: 58%;
            left: 47%;
            transform: rotate(-280.99deg);
            font-size: 0.8rem;
        }
        p.text2{
            top: 50%;
            left: 41%;
            transform: rotate(-280.99deg);   
        }
        :hover{
            color: var(--accent_col);
        }
        
</style>