---
const header = Astro.props.header;
const text = Astro.props.text;
---

<div class=ticket>
    <slot />
<h3>{header}</h3>
<p>{text}</p>
</div>

<style>
    .ticket{
        position: absolute;
        width: 476px;
        height: 230px;
        background-image: url(/public/img/ticket.svg);
        background-size: cover;
        aspect-ratio: 476/230;
    }
    h3, p{
        position: relative;
        }
</style>